.second-card-part {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.EventItem-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
}