.post-issue {
    margin-left: 10px;
}

.align-right {
    background-color: yellow;
}

.HomePage-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Navbar-div {
    width: 100%;
}